NEXT_PUBLIC_SUPABASE_URL=https://wfflnhnyyljkijkxshrr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmZmxuaG55eWxqa2lqa3hzaHJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzgwMjkzODMsImV4cCI6MjA1MzYwNTM4M30.n5ntk8wUoNqAlxUZFh9VXc24xcqU0tyRftDU71gLrig